{% load static %}
<!DOCTYPE html>
<html>
	<head>
	<link rel='icon' href="{% static 'icon1.png' %}" type='image/icon type'>
	<title>Spark's Bank</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'table1.css' %}">
	<style>
	    body{
		background:url("{% static 'indexbg.jpg' %}") no-repeat center center fixed;
		background-size:cover;
		}
		a{text-decoration:none;}
		h1{
		color:white;
		text-align:center;
		}
		button{
		display:block;
		color:white;
		border-radius:20px;
		border:2px solid #0000ff;
		width:70%;
		height:40%;
		border-radius:30px;
		margin-left:15%;
		background-color:transparent;
		}
		button:hover{
		background:#0000ff;
		}
				
	</style>
	</head>
	<div><body>
	<nav id="sideBox">
        <ul>
            <li><a href="{% url 'index' %}">HOME</a></li>
            <li><a href="customer.html">OUR CUSTOMERS</a></li>
            <li><a href="transaction_history.html">TRANSACTION HISTORY</a></li>
            <li><a href="transfer.html">TRANSFER MONEY</a></li>
            <li><a href="create_user.html">New User</a></li>
        </ul>
    </nav>
    <img src="{% static 'menuicon.png' %}" id="menuBtn">
    <script>
        var menuBtn = document.getElementById("menuBtn");
        var sideBox = document.getElementById("sideBox");
        sideBox.style.right = "-250px"
        menuBtn.onclick = function () {
            if (sideBox.style.right == "-250px") {
                sideBox.style.right = "0px";
            }
            else {
                sideBox.style.right = "-250px";
            }
        }
     </script>
	<h1><b>Welcome To Spark's Bank</b></h1><br><br>
	<h3 id="bankname">Spark<div Style="color:#0000ff;"> Bank</div></h3>
	<a href="customer.html"><button class="btn" type="button" name="customer"><b>Our Customers</b></button></a> <br>
	<a href="transfer.html"><button class="btn" type="button" name="transfer"><b>Transfer Money</b></button></a><br>
	<a href="transaction_history.html"><button class="btn" type="button" name="history"><b>Transaction History</b></button></a><br>
	<a href="create_user.html"><button class="btn" type="button" name="create_user"><b>New User</b></button></a><br>
    </body></div>
	<footer class='footer'>&#169;Copyright 2021 Mabe by Naresh<br>
	for the Project of The Sparks Foundation</footer>
</html>